.header {
  background: white;
  margin-left: 0px;
  margin-top: 0px;

  & .list-contact {
    margin-left: auto;
  }
}
 
.border-header {
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;

  & .logo {
    padding-top: 24px;
    margin-right: 93px;
    padding-bottom: 25px;
  }
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.list-contact {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  & .link{
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--text-grey-color);
  }

  & .mail{
    width: 16px;
    height: 12px
  }
    
  & .tel{
    width: 10px;
    height: 16px
  }
}

.list-contact-icon{
  fill: var(--text-grey-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .list-contact .menu-item:hover &,
  .list-contact .menu-item:focus &
  {
    fill: var(--accent-color);
  }
}